<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS --->
    <link
            rel="stylesheet"
            href="../../../../../../assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="../../../../../../assets/vendor/fonts/circular-std/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../../../../assets/libs/css/style.css"/>
    <link
            rel="stylesheet"
            href="../../../../../../assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
            rel="stylesheet"
            href="../../../../../../assets/vendor/charts/chartist-bundle/chartist.css"
    />
    <link
            rel="stylesheet"
            href="../../../../../../assets/vendor/charts/morris-bundle/morris.css"
    />
    <link
            rel="stylesheet"
            href="../../../../../../assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../../../../../../assets/vendor/charts/c3charts/c3.css"/>
    <link
            rel="stylesheet"
            href="../../../../../../assets/vendor/fonts/flag-icon-css/flag-icon.min.css"
    />
    <title>Create/Update User - Ticketing Project</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="https://www.cybertekschool.com/"
            >Cybertek</a
            >
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a
                                class="nav-link nav-user-img"
                                href="#"
                                id="navbarDropdownMenuLink2"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        ><img
                                src="../../../../../../assets/images/avatar-1.jpg"
                                alt=""
                                class="user-avatar-md rounded-circle"
                        /></a>
                        <div
                                class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2"
                        >
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">#Name</h5>
                            </div>
                            <a class="dropdown-item" href="#"
                            ><i class="fas fa-user mr-2"></i>Account</a
                            >
                            <a class="dropdown-item" href="#"
                            ><i class="fas fa-power-off mr-2"></i>Logout</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div th:replace="fragments/menubar :: menuNavBar"></div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div>
                        <div class="card-body">

                            <a href="#" class="btn btn-primary col-lg-5" data-toggle="modal"
                               data-target="#addingUserModal" id="addUserButton">
                                Create User
                            </a>
                            <label for="addUserButton">Click to Create New User</label>

                            <div class="modal fade" id="addingUserModal" tabindex="-1" role="dialog"
                                 aria-labelledby="addingUserModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addingUserModalLabel">Create User</h5>
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </a>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" class="needs-validation" action=""
                                                  enctype="application/x-www-form-urlencoded" id="createuser">
                                                <div class="form-row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="firstName">First name</label>
                                                        <input type="text" class="form-control" id="firstName"
                                                               name="firstName"
                                                               placeholder="Enter First name" value="" required
                                                               minlength="5"
                                                               maxlength="48"
                                                        />
                                                        <div class="invalid-feedback">
                                                            Please provide a valid text.
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="lastName">Last name</label>
                                                        <input type="text" class="form-control" id="lastName"
                                                               name="lastName"
                                                               placeholder="Enter Last name" value="" required
                                                               minlength="5"
                                                               maxlength="48">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="emailAddress">Email Address</label>
                                                        <input type="email" class="form-control" id="emailAddress"
                                                               name="emailAddress"
                                                               placeholder="Enter Email Address" value="" required>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="phoneNumber">Phone Number</label>
                                                        <input type="text" class="form-control" id="phoneNumber"
                                                               name="phoneNumber"
                                                               placeholder="Enter Phone Number" value="" required
                                                               minlength="12"
                                                               maxlength="12">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="password">Password</label>
                                                        <input type="password" class="form-control" id="password"
                                                               name="password"
                                                               placeholder="Enter Password" value="" required>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="confirmpassword">Confirm Password</label>
                                                        <input type="password" class="form-control" id="confirmpassword"
                                                               placeholder="Enter Confirm Password" value="" required>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label>Gender:</label>
                                                        <div>
                                                            <label class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" name="gender"
                                                                       class="custom-control-input" value="male">
                                                                <span class="custom-control-label">Male</span>
                                                            </label>
                                                            <label class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" name="gender"
                                                                       class="custom-control-input" value="female">
                                                                <span class="custom-control-label">Female</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                                        <label for="role">Role</label>
                                                        <select name="roles" class="form-control" id="role"
                                                                placeholder="Select Role"
                                                                required>
                                                            <option value="default">Select Role</option>
                                                            <option value="Administrator">Administrator</option>
                                                            <option value="Manager">Manager</option>
                                                            <option value="Employee">Employee</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal">Close
                                                    </button>
                                                    <button class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Users List</h5>
                    <div class="card-body">
                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                               width="100%">
                            <thead align="center">
                            <tr>
                                <th class="th-">Name

                                </th>
                                <th class="th-sm">E-Mail (username)

                                </th>
                                <th class="th-sm">Gender

                                </th>
                                <th class="th-sm">Phone

                                </th>
                                <th class="th-sm">Role

                                </th>
                                <th class="th-sm">Action

                                </th>
                            </tr>
                            </thead>
                            <tbody align="center">
                            <tr>
                                <td align="left" id="tableFN">Michle Steve</td>
                                <td align="left" id="tableEmail">test@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Ruslan Kasymov</td>
                                <td align="left">some@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <!--                                    <a href="#" class="btn btn-rounded btn-primary">Update</a>-->
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Ruslan Kasymov</td>
                                <td align="left">some@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <!--                                    <a href="#" class="btn btn-rounded btn-primary">Update</a>-->
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Ruslan Kasymov</td>
                                <td align="left">some@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <!--                                    <a href="#" class="btn btn-rounded btn-primary">Update</a>-->
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Ruslan Kasymov</td>
                                <td align="left">some@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <!--                                    <a href="#" class="btn btn-rounded btn-primary">Update</a>-->
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Ruslan Kasymov</td>
                                <td align="left">some@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <!--                                    <a href="#" class="btn btn-rounded btn-primary">Update</a>-->
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Ruslan Kasymov</td>
                                <td align="left">some@address.com</td>
                                <td>Male</td>
                                <td>123-456-4545</td>
                                <td align="left">Administrator</td>
                                <td align="center">
                                    <!--                                    <a href="#" class="btn btn-rounded btn-primary">Update</a>-->
                                    <a href="#" class="btn btn-rounded btn-primary" data-toggle="modal"
                                       data-target="#addingUserModal">
                                        Update
                                    </a>
                                    <a href="#" class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->

        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="../../../../../../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="../../../../../../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="../../../../../../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="../../../../../../assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="../../../../../../assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="../../../../../../assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="../../../../../../assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="../../../../../../assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="../../../../../../assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="../../../../../../assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="../../../../../../assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="../../../../../../assets/libs/js/dashboard-ecommerce.js"></script>
</body>
</html>
