<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: header"></div>
    <title>Create/Update User - Ticketing Project</title>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="fragments/menubar :: menuNavBar"></div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="card">
                    <h5 class="card-header">Add New User</h5>
                    <div class="card-body">
                        <form method="post"
                              th:action="@{/administrator/users}"
                              th:object="${newUser}"
                              class="needs-validation" action="#"
                              id="createuser">
                            <div class="form-row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName"
                                           name="firstName"
                                           placeholder="Enter First name" value="" required
                                           minlength="5"
                                           maxlength="48"
                                           th:field="*{firstName}"
                                    />
                                    <div class="invalid-feedback">
                                        Please provide a valid text.
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName"
                                           name="lastName"
                                           placeholder="Enter Last name" value="" required
                                           minlength="5"
                                           maxlength="48"
                                           th:field="*{lastName}"
                                    />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="emailAddress">Email Address</label>
                                    <input type="email" class="form-control" id="emailAddress"
                                           name="emailAddress"
                                           placeholder="Enter Email Address" value="" required
                                           th:field="*{email}">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="phoneNumber">Phone Number</label>
                                    <input type="text" class="form-control" id="phoneNumber"
                                           name="phoneNumber"
                                           placeholder="Enter Phone Number" value="" required
                                           minlength="12"
                                           maxlength="12"
                                           th:field="*{phone}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password"
                                           name="password"
                                           placeholder="Enter Password" value="" required
                                           th:field="*{password}"
                                    >
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="confirmpassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmpassword"
                                           placeholder="Enter Confirm Password" value="" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label>Gender:</label>
                                    <div>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="gender"
                                                   class="custom-control-input" value="male"
                                                   th:field="*{gender}"
                                            >
                                            <span class="custom-control-label">Male</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="gender"
                                                   class="custom-control-input" value="female"
                                                   th:field="*{gender}">
                                            <span class="custom-control-label">Female</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="role">Role</label>
                                    <select name="roles" class="form-control" id="role"
                                            placeholder="Select Role"
                                            required th:field="*{role}">
                                        <option value="default">Select Role</option>
                                        <option th:each="role: ${roles}" th:value="${role}"
                                                th:text="${role}"></option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                            <button type="reset" class="btn btn-secondary float-left">Reset</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Users List</h5>
                    <div class="card-body">
                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                               width="100%">
                            <thead align="center">
                            <tr>
                                <th class="th-">Name

                                </th>
                                <th class="th-sm">E-Mail (username)

                                </th>
                                <th class="th-sm">Gender

                                </th>
                                <th class="th-sm">Phone

                                </th>
                                <th class="th-sm">Role

                                </th>
                                <th class="th-sm">Action

                                </th>
                            </tr>
                            </thead>
                            <tbody align="center">
                            <tr th:each="rowUser : ${allUsers}">
                                <td align="left" th:text="${rowUser.firstName + ' ' + rowUser.lastName}"></td>
                                <td align="left" th:text="${rowUser.email}"></td>
                                <td th:text="${rowUser.gender}"></td>
                                <td th:text="${rowUser.phone}"></td>
                                <td align="left" th:text="${rowUser.role}"></td>
                                <td align="center">
                                    <a th:href="@{/administrator/users}" class="btn btn-rounded btn-primary"
                                       th:object="${rowUser}">
                                        Update
                                    </a>
                                    <a th:href="@{#}"
                                       class="btn btn-rounded btn-danger">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>
